@font-face {
    font-family: "edgeicons";
    src: url("../font/edge-icons-Regular.eot");
    src: url("../font/edge-icons-Regular.eot?#iefix") format("embedded-opentype"), url("../font/edge-icons-Regular.woff") format("woff"), url("../font/edge-icons-Regular.ttf") format("truetype")
}


body {
	font-family: "Segoe UI", Arial, sans-serif;
	box-sizing: border-box;
	background: #E6ECF0;
	line-height: 20px;
	
	overflow-y: scroll;
}

.topbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin: 0 auto;
	background: white;
}

a {
	cursor: pointer;
	user-select: none;
}

ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.nav {
	max-width: 900px;
}

.nav > li {
	display: inline-block;
	float: left;
	margin-top: 12px;
	margin-bottom: 4px;
	margin-left: 5px;
	text-align: left;
}

.nav > li > a {
	display: inline-block;
	padding: 0 14px 0 14px;
	text-decoration: none;
	color: #66757F;
	overflow: hidden;
}

.nav > li > a .text {
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 2px solid transparent;
	transition: all 0.15s ease-in-out;
}

.nav > li > a .text:hover, .nav > li.active > a .text {
	border-bottom: 2px solid #1DA1F2;
}

.nav > li > a:hover, .nav > li.active > a {
	color: #1DA1F2;
}


#fullpage {
	z-index: 0;
	margin-top: 58px;
	//transform: translateY(-67px);
}

#fullpage.entered {
	transition: transform 0.7s ease;
	transform: translateY(0);
}

.section {
	background: #E6ECF0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid #E6ECF0;
}

.tweet {
	background: white;
	width: 590px;
	padding: 9px 12px;
	cursor: pointer;
	min-height: 48px;
	font-size: 14px;
	
	opacity: 0;
	transition: opacity 0.7s ease;
}

.tweet:hover {
	background-color: #F5F8FA;
}

.tweet.entered {
	opacity: 1;
}

.tweet > * {
	margin-left: 58px;
}

.tweet-header {
	display: flex;
}

.avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	position: absolute;
	margin-left: -58px;
}

.account-group {
	display: inline-flex;
}

.account-group > * {
	margin-right: 3px;
}

.fullname {
	font-weight: bold;
	height: min-content;
}

.fullname:hover, .tweet a {
	color: #1DA1F2;
}

.fullname:hover, .tweet a:hover {
	text-decoration: underline;
}

.verified {
	display: inline;
	margin-top: 2px;
}

.username, .time {
	color: #657786;
}

.middot {
	margin-left: 2px;
	margin-right: 4px;
}

#fp-nav > ul > li > a > span {
	background: #1DA1F2;
}


.reply-text {
	display: inline-block;
	margin: 3px 0;
	color: #657786;
}


/* Tweet body */
.tweet-text:not(:last-child) {
	margin-bottom: 10px;
}

.tweet-embed {
	border-radius: 14px;
	border: 1px solid #E1E8ED;
	overflow: hidden;
	min-height: 1em;
	
	transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.tweet-embed:hover {
	background: white;
	border-color: rgba(136, 153, 166, 0.5);
}

.tweet-embed-preview {
	width: 100%;
}

.tweet-embed-body {
	margin: 5px 14px 10px 14px;
}

.tweet-embed-body-full {
	margin: 10px 14px;
}

.tweet-embed-title {
	display: block;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tweet-embed-description {
	word-break: break-word;
	margin-top: 4px;
}

.tweet-embed-url {
	margin-top: 1px;
	
	display: block;
	text-transform: lowercase;
	color: #8899A6;
	white-space: nowrap
	overflow: hidden;
	text-overflow: ellipsis;
}

.tweet-footer {
	color: #657786;
	margin-top: 10px;
}

.tweet-footer-icon {
	margin-right: 10px;
}

.tweet-footer-action {
	margin-right: 35px;
}

.tweet-footer-action:hover {
	color: #1DA1F2;
}

.tweet-footer-action-retweet:hover {
	color: #17BF63;
}

.tweet-footer-action-heart:hover, .tweet-footer-action-heart.clicked {
	color: #E0245E;
}

.icon {
	position: relative;
	top: 3px;
	font-size: 18px;
}

.icon-message::after {
	content: "\f151";
	font-family: "edgeicons";
}

.icon-retweet::after {
	content: "\f152";
	font-family: "edgeicons";
}

.icon-heart::after {
	content: "\f148";
	font-family: "edgeicons";
}

.icon-dm::after {
	content: "\f054";
	font-family: "edgeicons";
}


#tip {
	background: #1DA1F2;
	width: fit-content;
	padding: 14px;
	font-size: 14px;
	line-height: 1;
	position: fixed;
	left: 7px;
	bottom: 7px;
	box-shadow: 0px 5px 10px 0px #00000044;
	opacity: 1;
	transition: opacity 0.5s ease, transform 0.5s ease;
	cursor: pointer;
}

#tip.hidden {
	opacity: 0;
	transform: translateY(-20px);
	pointer-events: none;
}

.action-link {
	text-decoration: underline;
	margin-left: 2ch;
}

.action-link:hover {
	color: white;
}
